:root{
	
	/* Primary */
	--primary: #3A7AFE;
	--primary-hover: #0045d5;
	--primary-dark: #083289;
	
	/* Primary RGBA */
	--rgba-primary-1: rgba(58,122,254,0.1);
	--rgba-primary-3: rgba(58,122,254,0.3);
	--rgba-primary-2: rgba(58,122,254,0.2);
	--rgba-primary-4: rgba(58,122,254,0.4);
	--rgba-primary-5: rgba(58,122,254,0.5);
	--rgba-primary-05: rgba(58,122,254,0.05);
	--rgba-primary-6: rgba(58,122,254,0.6);
	--rgba-primary-7: rgba(58,122,254,0.7);
	--rgba-primary-8: rgba(58,122,254,0.8);
	--rgba-primary-9: rgba(58,122,254,0.9);
	
	/* Other */
	--secondary: #232323;
	--theme-text-color: #fff;
	--title: #222;
		
}
